/* Beginning of universal CSS */
* {

}

ul li {
  list-stype-type: none;
}

a {
  text-decoration: none;
}

/* Ending of the universal CSS*/
body {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 850px;
}

.header {
  height: 170px;
  background-color: #0b0b61;
  color: white;
  padding-top: 30px;
}

@media only screen and (min-width: 600px) {
  .header {
    background-color: lightblue;
  }
}
