* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
}

.wrapper {
  padding: 50px 20px 40px 20px;
  margin: 0px;
  background-color: yellow;
}

header {
  height: 250px;
  border: 2px solid black;
  background-color: blue;
}

nav {
  height: 120px;
  background-color: green;
  border: 2px solid black;
}

.maincontent {
  height: 300px;
  background-color: red;
  border: 2px solid black;
}

aside {
  height: 300px;
  background-color: #1cffff;
  border: 2px solid black;
}

.promo {
  height: 200px;
  background-color: #ffb051;
  border: 2px solid black;
}

.wrapper p {
  font-size: 2em;
  font-weight: 600;
  position: relative;
  top: 20px;
}

footer {
  height: 100px;
  background-color: black;
  color: white;
}
